form{
padding: 10px;
}
.text{
    padding: 3px;
}
body {
    background-color: rgb(227, 201, 243);
}

h2{
    color: black;
    text-align: center;
}
input[type=text] {
  width: 50%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid rgb(47, 0, 255);
  border-radius: 8px;
 ;
}

  input[type=email] {
  width: 50%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid rgb(47, 0, 255);
  border-radius: 8px;
}
ul li{
  list-style-type: none;
  display:inline;
  margin: 1px;
  background-color: rgb(214, 149, 249);
  padding: 14px 16px; 
  
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #9e3af6;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=radio]{
  padding: 2px;
  background-color: blueviolet;
}
