nav {
  display: flex; 
  justify-content: center;
}


form{
  padding: 5px 0px 5px;
margin: 10px;
display: flex;
justify-content: center;
align-items: center;
    }

/* form label {
  width: 120px;
} */
.text{
    
    padding: 10px 0px 10px;
}
.container{
  
  flex-direction: column;
  flex-wrap: wrap;
}
.field label {
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: right;
}
.field {
  padding: 5px 0px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.radio {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.radio input {
  text-align: center;
}
.checkbox{
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  

}
.btn{
  flex-wrap: wrap;
  align-items: center;
}

body {
    background-color: rgb(227, 201, 243);
}

h2{
    color: black;
    text-align: center;
}
input[type=text] {
  
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid rgb(47, 0, 255);
  border-radius: 8px;
 
}

  input[type=email] {
  display: 50%;
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid rgb(47, 0, 255);
  border-radius: 8px;
}
nav li{
  list-style-type: none;
  display:inline;
  margin: 1px;
  background-color: rgb(214, 149, 249);
  padding: 14px 16px; 
  
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #9e3af6;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=radio]{
  padding: 2px;
  background-color: blueviolet;
}
